<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dbgerenciamentoVeiculo" connectionString="@Data Source=DESKTOP-LUCAS\SQLEXPRESS;Initial Catalog=gerenciadoVeiculo;Integrated Security=True" />
    <add name="GerenciadorVeiculo1.Properties.Settings.DB_GER_VEICULOConnectionString"
      connectionString="Data Source=NOTEBOOKLUCAS\SQLEXPRESS;Initial Catalog=DB_GER_VEICULO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>